node_modules
dist
.git
.gitignore
.env.local
.env.*.local
README.md
*.md
.vscode
.editorconfig
.DS_Store
test
**/*.spec.ts
**/*.spec.js
tsconfig.build.tsbuildinfo
.git
.github
.eslintrc.js
jest.config.js
